---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="/kingkungfupic2.jpg"
>
	<p>Wichita Fake News</p>
<p>
F-ounders
</p>
<p>
O-f
</p>
<p>
R-egional
</p>
<p>
E-nterprises
</p>
<p>
V-ery
</p>
<p>
E-xponential
</p>
<p>
R-oofus
</p>
<p>
We're fore, but we're also ver
	</p>
</Layout>
