---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	Wichita Fake News
F-ounders
</p>
O-f
</p>
R-egional
</p>
E-nterprises
</p>
V-ery
</p>
E-xponential
</p>
R-oofus
</p>
We're fore, but we're also ver
	</p>
</Layout>
