---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	Wichita Fake News
F-ounders
O-f
R-egional
E-nterprises
V-ery
E-xponential
R-oofus
We're fore, but we're also ver
	</p>
</Layout>
